.topArea {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  img {
    cursor: pointer;
  }
}

.menuList {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  ul {
    list-style: none;
    cursor: pointer;
  }
}

.linkArea {
  display: flex;
  justify-content: flex-end;
  .search {
    margin-right: 30px;
    border-bottom: 2px solid black;
    right: 100px;
    input {
      border: none;
      margin: 5px;
    }
    input:focus {
      outline: none;
    }
  }
  button {
    margin-right: 30px;
    border: none;
    border-radius: 5px;
    background: none;
  }
}
