.productDetailImg {
  display: flex;
  justify-content: flex-end;
}

.detailInfo {
  div {
    margin-left: 20px;
  }
  h2 {
    margin: 20px;
  }
  h4 {
    margin: 20px;
  }
}

#dropdown-basic-button {
  margin-top: 30px;
}
